body {margin: 0 auto; text-align: center; background-color:grey;}

h1 {
  color: #ffccff;
  font-family: pacifico;
  text-align: center;
font-size: 70px;
background-color: #333333;
}
a{
  color:#333333;
  font-size: 30px;
  font-family: courier;
}
